form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 20px 0;
}

.radio-buttons label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.material-symbols-outlined {
  font-size: 20px;
}

.icon {
  font-size: 40px;
}

input[type="radio"] {
  transform: scale(1.5);
  margin: 10px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Center the tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
